@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Koulen&family=Poppins:wght@200&display=swap");

* {
    font-family: "Poppins", sans-serif;
    color: white;
}

html {
    background: linear-gradient(153deg, rgba(2,0,36,1) 24%, rgba(4,9,79,1) 80%);
}

body {
    background: linear-gradient(153deg, rgba(2,0,36,1) 24%, rgba(4,9,79,1) 80%);
    margin: 0;
}

.full-body {
    height: 100vh;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* ANIMATIONS */

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeFromRight {
    0% {
        margin-left: 300vh;
    }
    100% {
        margin-left: initial;
    }
}

/* SIZES */

.full {
    width: 100%;
    height: 100%;
}

.full-smaller {
    width: 30%;
    height: 100vh;
}

.full-small {
    width: 40%;
    height: 100vh;
}

.full-medium {
    width: 50%;
    height: 100vh;
}

.full-large {
    width: 60%;
    height: 100vh;
}

.full-larger {
    width: 70%;
    height: 100vh;
}

.full-largest {
    width: 100%;
    height: 100vh;
}

/* For full-size page wrappers */
.full-size {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    background: linear-gradient(153deg, rgba(2,0,36,1) 24%, rgba(4,9,79,1) 80%);
}

@media only screen and (max-width: 875px) {
    .container {
        width: 100%;
        height: 50vh;
    }
}

/* ALIGNMENTS */

.column {
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* WRAPPERS */

.wrappers {
    display: flex;

    align-items: center;
    justify-content: center;

    text-align: center;

    height: 100vh;
    width: 100%;
}

@media only screen and (max-width: 875px) {
    .wrappers {
        flex-direction: column;
    }
}

.wrapper {
    flex-direction: column;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}