@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Koulen&family=Poppins:wght@200&display=swap");

* {
    font-family: "Poppins", sans-serif;
    color: white;
}

body {
    margin: 0;
    background: linear-gradient(153deg, rgba(2,0,36,1) 24%, rgba(4,9,79,1) 80%);
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* ANIMATIONS */

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes fadeFromRight {
    0% {
        margin-left: 300vh;
    }
    100% {
        margin-left: initial;
    }
}

/* SIZES */

.full-smaller {
    width: 30%;
    height: 100vh;
}

.full-small {
    width: 40%;
    height: 100vh;
}

.full-medium {
    width: 50%;
    height: 100vh;
}

.full-large {
    width: 60%;
    height: 100vh;
}

.full-larger {
    width: 70%;
    height: 100vh;
}

@media only screen and (max-width: 875px) {
    .container {
        width: 100%;
        height: 50vh;
    }
}

/* ALIGNMENTS */

.flex-center {
    justify-content: center;
    align-items: center;
}

/* WRAPPERS */

.wrapper {
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.wrapper-content {
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

